{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap" rel="stylesheet">
    <title>Pirostagramming</title>
  </head>
  <body>
    <header>
      <a href="{% url 'posts:main' %}" id="main_title">Pirostagramming</a>
      <a href="{% url 'posts:create' %}" id="create_post">글 생성</a>
    </header>

    {% block content %} {% endblock %}
    <script src="https://kit.fontawesome.com/880ce38071.js" crossorigin="anonymous"></script>
  </body>
</html>
