.comments-container{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.detail_container{
    display: flex;
    justify-content: center;;
}

.detail_lr{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 30px;
    margin-left: 30px;
}

.detail_title{
    font-size: 1.7rem;
    color: blueviolet;
}

.comment_ins{
    display: flex;
    align-items: center;
    gap: 30px;
}

.comment_create_form{
    display: flex;
    gap: 30px;
}

.submit_btn,
.delete_btn{
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

.submit_btn{
    background-color: cornflowerblue;
}

.delete_btn{
    background-color: red;
}