{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.css"
    />
    {% block head %} {% endblock %}
  </head>
  <body>
    <nav>
      <div id="nav-left">
        <a href="/" id="logo"><h1>My SW Ideas</h1> </a>
      </div>
      <div id="nav-right">
        <a href="{% url 'ideas:create' %}">아이디어 등록</a>
        <a href="{% url 'ideas:main' %}">아이디어 관리</a>
        <a href="{% url 'toolss:create' %}">개발도구 등록</a>
        <a href="{% url 'toolss:main' %}">개발도구 관리</a>
      </div>
    </nav>
    <hr />
    {% block content %} {% endblock %}
  </body>
  <script>
    document.querySelectorAll(".star-icon").forEach(function (element) {
      element.addEventListener("click", function () {
        var fillStar = this.querySelector(".fill");
      });
    });
  </script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <script>
    $(document).ready(function () {
      $(".interestedNum button").on("click", function (event) {
        event.preventDefault();
        event.stopPropagation();

        var button = $(this);
        var ideaId = button.closest(".item").data("idea-id");
        var increment = button.text() === "+" ? 1 : -1;

        var interestCountElement = button
          .closest(".item")
          .find(".interestedNum");

        // 버튼을 일시적으로 비활성화
        button.prop("disabled", true);

        $.ajax({
          type: "POST",
          url: "{% url 'ideas:update_interested_num' %}",
          data: {
            idea_id: ideaId,
            increment: increment,
            csrfmiddlewaretoken: "{{ csrf_token }}",
          },
          success: function (data) {
            var newInterestedNum = data.interestedNum;
            interestCountElement.text(newInterestedNum);
          },
          error: function (error) {
            console.log("에러 발생: ", error);
          },
          complete: function () {
            // 비동기 요청이 완료된 후 버튼을 다시 활성화
            button.prop("disabled", false);
          },
        });
      });
    });
  </script>
</html>
